**Step 1: Data Exploration & Loading**

In [27]:
import pandas as pd
import pymysql
from sqlalchemy import create_engine
import psycopg2

In [28]:
df= pd.read_csv('Walmart.csv', encoding_errors='ignore')
df.head(20)

,invoice_id,Branch,City,category,unit_price,quantity,date,time,payment_method,rating,profit_margin
0,1,WALM003,San Antonio,Health and beauty,$74.69,7.0,05/01/19,13:08:00,Ewallet,9.1,0.48
1,2,WALM048,Harlingen,Electronic accessories,$15.28,5.0,08/03/19,10:29:00,Cash,9.6,0.48
2,3,WALM067,Haltom City,Home and lifestyle,$46.33,7.0,03/03/19,13:23:00,Credit card,7.4,0.33
3,4,WALM064,Bedford,Health and beauty,$58.22,8.0,27/01/19,20:33:00,Ewallet,8.4,0.33
4,5,WALM013,Irving,Sports and travel,$86.31,7.0,08/02/19,10:37:00,Ewallet,5.3,0.48
5,6,WALM026,Denton,Electronic accessories,$85.39,7.0,25/03/19,18:30:00,Ewallet,4.1,0.48
6,7,WALM088,Cleburne,Electronic accessories,$68.84,6.0,25/02/19,14:36:00,Ewallet,5.8,0.33
7,8,WALM100,Canyon,Home and lifestyle,$73.56,10.0,24/02/19,11:38:00,Ewallet,8.0,0.18
8,9,WALM066,Grapevine,Health and beauty,$36.26,2.0,10/01/19,17:15:00,Credit card,7.2,0.33
9,10,WALM065,Texas City,Food and beverages,$54.84,3.0,20/02/19,13:27:00,Credit card,5.9,0.33
10,11,WALM013,Irving,Fashion accessories,$14.48,4.0,06/02/19,18:07:00,Ewallet,4.5,0.48
11,12,WALM035,San Angelo,Electronic accessories,$25.51,4.0,09/03/19,17:03:00,Cash,6.8,0.48
12,13,WALM027,Abilene,Electronic accessories,$46.95,5.0,12/02/19,10:25:00,Ewallet,7.1,0.48
13,14,WALM035,San Angelo,Food and beverages,$43.19,10.0,07/02/19,16:48:00,Ewallet,8.2,0.48
14,15,WALM031,Lewisville,Health and beauty,$71.38,10.0,29/03/19,19:21:00,Cash,5.7,0.48
15,16,WALM008,Corpus Christi,Sports and travel,$93.72,6.0,15/01/19,16:19:00,Cash,4.5,0.48
16,17,WALM029,Round Rock,Health and beauty,$68.93,7.0,11/03/19,11:03:00,Credit card,4.6,0.48
17,18,WALM061,Cedar Park,Sports and travel,$72.61,6.0,01/01/19,10:39:00,Credit card,6.9,0.33
18,19,WALM053,Conroe,Food and beverages,$54.67,3.0,21/01/19,18:00:00,Credit card,8.6,0.57
19,20,WALM013,Irving,Home and lifestyle,$40.3,2.0,11/03/19,15:30:00,Ewallet,4.4,0.48

In [29]:
df.describe()

         invoice_id      quantity        rating  profit_margin
count  10051.000000  10020.000000  10051.000000   10051.000000
mean    5025.741220      2.353493      5.825659       0.393791
std     2901.174372      1.602658      1.763991       0.090669
min        1.000000      1.000000      3.000000       0.180000
25%     2513.500000      1.000000      4.000000       0.330000
50%     5026.000000      2.000000      6.000000       0.330000
75%     7538.500000      3.000000      7.000000       0.480000
max    10000.000000     10.000000     10.000000       0.570000

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10051 entries, 0 to 10050
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   invoice_id      10051 non-null  int64
 1   Branch          10051 non-null  object
 2   City            10051 non-null  object
 3   category        10051 non-null  object
 4   unit_price      10020 non-null  object
 5   quantity        10020 non-null  float64
 6   date            10051 non-null  object
 7   time            10051 non-null  object
 8   payment_method  10051 non-null  object
 9   rating          10051 non-null  float64
 10  profit_margin   10051 non-null  float64
dtypes: float64(3), int64(1), object(7)
memory usage: 863.9+ KB

In [31]:
df.duplicated().sum()

np.int64(51)

In [32]:
df.drop_duplicates(inplace=True)
df.duplicated().sum()

np.int64(0)

In [33]:
df.shape

(10000, 11)

In [34]:
df.isnull().sum()

invoice_id         0
Branch             0
City               0
category           0
unit_price        31
quantity          31
date               0
time               0
payment_method     0
rating             0
profit_margin      0
dtype: int64

In [37]:
df.shape

(9969, 11)

In [38]:
df.dtypes

invoice_id          int64
Branch             object
City               object
category           object
unit_price         object
quantity          float64
date               object
time               object
payment_method     object
rating            float64
profit_margin     float64
dtype: object

In [40]:
df.dropna(inplace=True)
df.isnull().sum()

invoice_id        0
Branch            0
City              0
category          0
unit_price        0
quantity          0
date              0
time              0
payment_method    0
rating            0
profit_margin     0
dtype: int64

In [41]:
df.shape

(9969, 11)

In [47]:
df['unit_price'].astype(float)

0       74.69
1       15.28
2       46.33
3       58.22
4       86.31
        ...
9995    37.00
9996    58.00
9997    52.00
9998    79.00
9999    62.00
Name: unit_price, Length: 9969, dtype: float64

In [48]:
df['unit_price'] = df['unit_price'].astype(float)

df.head()

,invoice_id,Branch,City,category,unit_price,quantity,date,time,payment_method,rating,profit_margin
0,1,WALM003,San Antonio,Health and beauty,74.69,7.0,05/01/19,13:08:00,Ewallet,9.1,0.48
1,2,WALM048,Harlingen,Electronic accessories,15.28,5.0,08/03/19,10:29:00,Cash,9.6,0.48
2,3,WALM067,Haltom City,Home and lifestyle,46.33,7.0,03/03/19,13:23:00,Credit card,7.4,0.33
3,4,WALM064,Bedford,Health and beauty,58.22,8.0,27/01/19,20:33:00,Ewallet,8.4,0.33
4,5,WALM013,Irving,Sports and travel,86.31,7.0,08/02/19,10:37:00,Ewallet,5.3,0.48

In [49]:
df.dtypes

invoice_id          int64
Branch             object
City               object
category           object
unit_price        float64
quantity          float64
date               object
time               object
payment_method     object
rating            float64
profit_margin     float64
dtype: object

In [50]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9969 entries, 0 to 9999
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   invoice_id      9969 non-null   int64
 1   Branch          9969 non-null   object
 2   City            9969 non-null   object
 3   category        9969 non-null   object
 4   unit_price      9969 non-null   float64
 5   quantity        9969 non-null   float64
 6   date            9969 non-null   object
 7   time            9969 non-null   object
 8   payment_method  9969 non-null   object
 9   rating          9969 non-null   float64
 10  profit_margin   9969 non-null   float64
dtypes: float64(4), int64(1), object(6)
memory usage: 934.6+ KB

In [51]:
df.columns

Index(['invoice_id', 'Branch', 'City', 'category', 'unit_price', 'quantity',
       'date', 'time', 'payment_method', 'rating', 'profit_margin'],
      dtype='object')

In [52]:
df.columns= df.columns.str.lower()
df.columns

Index(['invoice_id', 'branch', 'city', 'category', 'unit_price', 'quantity',
       'date', 'time', 'payment_method', 'rating', 'profit_margin'],
      dtype='object')

In [53]:
df['Total']= df['unit_price']*df['quantity']
df.head(20)

,invoice_id,branch,city,category,unit_price,quantity,date,time,payment_method,rating,profit_margin,Total
0,1,WALM003,San Antonio,Health and beauty,74.69,7.0,05/01/19,13:08:00,Ewallet,9.1,0.48,522.83
1,2,WALM048,Harlingen,Electronic accessories,15.28,5.0,08/03/19,10:29:00,Cash,9.6,0.48,76.40
2,3,WALM067,Haltom City,Home and lifestyle,46.33,7.0,03/03/19,13:23:00,Credit card,7.4,0.33,324.31
3,4,WALM064,Bedford,Health and beauty,58.22,8.0,27/01/19,20:33:00,Ewallet,8.4,0.33,465.76
4,5,WALM013,Irving,Sports and travel,86.31,7.0,08/02/19,10:37:00,Ewallet,5.3,0.48,604.17
5,6,WALM026,Denton,Electronic accessories,85.39,7.0,25/03/19,18:30:00,Ewallet,4.1,0.48,597.73
6,7,WALM088,Cleburne,Electronic accessories,68.84,6.0,25/02/19,14:36:00,Ewallet,5.8,0.33,413.04
7,8,WALM100,Canyon,Home and lifestyle,73.56,10.0,24/02/19,11:38:00,Ewallet,8.0,0.18,735.60
8,9,WALM066,Grapevine,Health and beauty,36.26,2.0,10/01/19,17:15:00,Credit card,7.2,0.33,72.52
9,10,WALM065,Texas City,Food and beverages,54.84,3.0,20/02/19,13:27:00,Credit card,5.9,0.33,164.52
10,11,WALM013,Irving,Fashion accessories,14.48,4.0,06/02/19,18:07:00,Ewallet,4.5,0.48,57.92
11,12,WALM035,San Angelo,Electronic accessories,25.51,4.0,09/03/19,17:03:00,Cash,6.8,0.48,102.04
12,13,WALM027,Abilene,Electronic accessories,46.95,5.0,12/02/19,10:25:00,Ewallet,7.1,0.48,234.75
13,14,WALM035,San Angelo,Food and beverages,43.19,10.0,07/02/19,16:48:00,Ewallet,8.2,0.48,431.90
14,15,WALM031,Lewisville,Health and beauty,71.38,10.0,29/03/19,19:21:00,Cash,5.7,0.48,713.80
15,16,WALM008,Corpus Christi,Sports and travel,93.72,6.0,15/01/19,16:19:00,Cash,4.5,0.48,562.32
16,17,WALM029,Round Rock,Health and beauty,68.93,7.0,11/03/19,11:03:00,Credit card,4.6,0.48,482.51
17,18,WALM061,Cedar Park,Sports and travel,72.61,6.0,01/01/19,10:39:00,Credit card,6.9,0.33,435.66
18,19,WALM053,Conroe,Food and beverages,54.67,3.0,21/01/19,18:00:00,Credit card,8.6,0.57,164.01
19,20,WALM013,Irving,Home and lifestyle,40.30,2.0,11/03/19,15:30:00,Ewallet,4.4,0.48,80.60

In [54]:
# mysql
# host= localhost
# port=3306
# user= root
# password= 'Prava@05'- @=%40 -> encodin

In [55]:
df.shape

(9969, 12)

In [56]:
df.to_csv('Walmart_Clean_Data.csv', index=False)

In [57]:
#mysql connection
#mysql+pymysql://user:password@localhost:3306/db_name
engine_mysql= create_engine('mysql+pymysql://root:Prava%4005@127.0.0.1:3306/Walmart_db')
try:
    engine_mysql
    print('connection successfull')
except:
    print('unable to connect')

connection successfull

In [58]:
df.to_sql(name='walmart', con=engine_mysql, if_exists='append', index= False)

9969

In [59]:
df.shape

(9969, 12)